**/jobInfo.properties
.JETEmitters/
.Java/
.metadata/
code/routines/system/*.*
temp/
sqlPatterns/
.settings
poms/
#talend.project
#.project
**/jobInfo.properties
ETL/.JETEmitters/
ETL/.Java/
ETL/.metadata/
ETL/IBWIMPORTARDATOSAWS/code/routines/system/*.*
ETL/IBWIMPORTARDATOSAWS/temp/
ETL/IBWIMPORTARDATOSAWS/sqlPatterns/
ETL/.settings
ETL/IBWIMPORTARDATOSAWS/poms/
ETL/IBWIMPORTARDATOSAWS/talend.project
ETL/IBWIMPORTARDATOSAWS/.project
